* {
  box-sizing: 0px;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  background-color: #0f172a;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.super-over-league-container {
  padding: 10px;
  align-items: center;
  text-align: center;
}

.heading {
  color: #f8fafc;
  font-weight: bold;
  font-size: 32px;
  font-family: "Roboto";
  align-items: center;
}

.image-url {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

@media screen and (min-width: 768px) {
  .image-url {
    width: 300px;
    height: 300px;
  }
}
